body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc); 
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s ease;
}

button:hover {
    background-color: #388E3C;
    transform: scale(1.05);
}

#resultContainer {
    margin-top: 20px;
}

#seasonImage {
    margin-top: 15px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
